/* SECTION */

.sonar-darknight .section {
    width: 100%;
    padding: 10vh 0;
}
.sonar-darknight .section--header {
    background-color: var(--colors--neutral--grey1);
    color: var(--colors--neutral--grey4);
}
.sonar-darknight .section--login-form {
    margin: 10vh 0;
}
.sonar-darknight .section-label h2 {
    margin-bottom: 40px;
}
.sonar-darknight .section-label h2 a {
    margin-left: 5px;
}
.sonar-darknight .section-label h2 .badge {
    font-size: 14px;
}
.sonar-darknight .section-label .badge {
    font-size: 14px;
    display: block;
    padding: 7px 8px;
    margin: 5px 0 0 5px;
}


/* CONTAINER */

.sonar-darknight .container--example {
    padding: 10vh 0;
}
.sonar-darknight .container--table {
    background-color: var(--colors--neutral--grey2);
    padding: 40px;
}



/* LOGIN PAGE */

.sonar-darknight .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.sonar-darknight .form-signin .checkbox {
    font-weight: 400;
}
.sonar-darknight .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.sonar-darknight .form-signin .form-control:focus {
    z-index: 2;
}



/* progress */

.sonar-darknight .progress-example > .alert+.alert,
.sonar-darknight .progress-example > .nav+.nav,
.sonar-darknight .progress-example > .navbar+.navbar,
.sonar-darknight .progress-example > .progress+.btn,
.sonar-darknight .progress-example > .progress+.progress {
    margin-top: 1rem;
}


/* pre code */

.sonar-darknight .highlight {
    margin-bottom: 1rem;
    background-color: var(--colors--neutral--grey1);
    padding: 20px;
    border-radius: var(--bg-border-radius);
}
.sonar-darknight .highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}
.sonar-darknight .highlight pre code {
    color: var(--colors--neutral--grey4);
}
.sonar-darknight .cp {
    color: #008085;
}
.sonar-darknight .c {
    color: var(--colors--neutral--grey3);
}
.sonar-darknight .nt {
    color: var(--colors--primary2);
}
.sonar-darknight .na {
    color: var(--colors--primary0);
}
.sonar-darknight .s {
    color: var(--colors--primary5);
}


/* Toast */

.sonar-darknight .toast {
    opacity: 1;
}