/**
 *
 * Sonar Dark Night Theme
 * An override of the Bootstrap base theme
 * 
*/

:root {
    --colors--neutral--black1: #021627;
    --colors--neutral--grey1: #162737;
    --colors--neutral--grey2: #212B39;
    --colors--neutral--grey3: #4a5a68;
    --colors--neutral--grey4: #909dad;
    --colors--neutral--white1: #ffffff;
    --colors--neutral--white3: #edeff2;
    --colors--primary-bright: #2cbfff;
    --colors--primary: #2cbfff;
    --colors--primary0: #0d75bf;
    --colors--primary4: #d5e7f0;
    --colors--primary2: #165f7f;
    --colors--primary3: #095280;
    --colors--primary5: #1e9c64;
    --colors--primary6: #47a889;

    --colors--positive: #1e9c64;
    --colors--danger: #ff1a56;
    --colors--warning: #ff9536;
    
    --bg--gradient1: linear-gradient(200deg, rgba(85, 103, 119, 0.95), rgba(85, 89, 119, 0.95));
    --bg--transparent--light: rgba(255,255,255, 0.1);
    --bg-border-radius: .3rem;
}


/* Typography */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url("../../assets/fonts/interFont/Inter-Thin-BETA.woff2") format("woff2"), url("../../assets/fonts/interFont/Inter-Thin-BETA.woff") format("woff"); }
  
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/interFont/Inter-Regular.woff2") format("woff2"), url("../../assets/fonts/interFont/Inter-Regular.woff") format("woff"); }
  
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    src: url("../../assets/fonts/interFont/Inter-Italic.woff2") format("woff2"), url("../../assets/fonts/interFont/Inter-Italic.woff") format("woff"); }
  
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url("../../assets/fonts/interFont/Inter-SemiBold.woff2") format("woff2"), url("../../assets/fonts/interFont/Inter-SemiBold.woff") format("woff"); }
  
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    src: url("../../assets/fonts/interFont/Inter-SemiBoldItalic.woff2") format("woff2"), url("../../assets/fonts/interFont/Inter-SemiBoldItalic.woff") format("woff"); }
  
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url("../../assets/fonts/interFont/Inter-Bold.woff2") format("woff2"), url("../../assets/fonts/interFont/Inter-Bold.woff") format("woff"); }
  
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    src: url("../../assets/fonts/interFont/Inter-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/interFont/Inter-BoldItalic.woff") format("woff"); }
  

html {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body.sonar-darknight {
    background-color: var(--colors--neutral--black1);
    color: var(--colors--neutral--grey3);
    font-family: var(--text--font--family);
}
.sonar-darknight [data-label] {
    background: var(--colors--primary4);
    color: var(--colors--neutral--grey2);
    padding: 1px 4px;
    border-radius: 2px;
    margin: 0 5px;
}
a {
    color: var(--colors--primary);
}
hr {
    border-color: var(--colors--neutral--grey3);
}


/* Animations */

@keyframes button--pulse {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.85;
    }
}


/* Badge */

.sonar-darknight .badge {
    background: var(--colors--primary4);
    border: 1px solid rgba(34, 44, 58, 0.085);
    color: var(--colors--neutral--grey2);
}
.sonar-darknight .badge-primary {
    background-color: var(--colors--primary3);
}
.sonar-darknight .badge-secondary {
    background-color: var(--colors--neutral--grey3);
    font-weight: 500;
}


/* Form */

.sonar-darknight .form {
    padding: 2rem;
}
.sonar-darknight .form-standard {
    background-color: var(--colors--neutral--grey1);
    border-radius: var(--bg-border-radius);
    color: var(--colors--neutral--grey4);
    margin-bottom: 2rem;
    padding: 4rem 2rem;
}



/* Input */

.sonar-darknight .form-inline .form-control,
.sonar-darknight .form-standard .custom-select,
.sonar-darknight .form-standard .form-control,
.sonar-darknight .form-signin input {
    background: var(--colors--neutral--grey2);
    color: var(--colors--neutral--grey4);
}
.sonar-darknight .form-inline .form-control:not(.is-valid):not(.is-invalid),
.sonar-darknight .form-standard .custom-select:not(.is-valid):not(.is-invalid),
.sonar-darknight .form-standard .form-control:not(.is-valid):not(.is-invalid),
.sonar-darknight .form-signin input {
    border-color: var(--colors--neutral--grey3);
}
.sonar-darknight .form-signin input,
.sonar-darknight .form-inline .form-control {
    border: none;
}
.sonar-darknight .form-inline .input-group-text {
    background-color: var(--colors--neutral--grey3);
    border-color: transparent;
    color: var(--colors--neutral--grey4);
}
.sonar-darknight .form-control-file,
.sonar-darknight .input[type="file"] {
    background-color: var(--colors--neutral--grey2);
    border: solid 1px var(--colors--neutral--grey3);
    padding: 10px;
    border-radius: .25rem;
}


/* Button Primary */

.sonar-darknight .btn-link {
    color: var(--colors--primary0);
}
.sonar-darknight .btn-link:hover,
.sonar-darknight .btn-link:focus,
.sonar-darknight .btn-link:active {
    color: var(--colors--primary);
}
.sonar-darknight .btn-primary {
    color: var(--colors--neutral--white3);
    background: var(--colors--primary);
    border-color: var(--colors--primary-bright);
}
.sonar-darknight .btn-primary:focus,
.sonar-darknight .btn-primary:hover {
    background: var(--colors--primary-bright);
    border-color: var(--colors--primary-bright); 
}
.sonar-darknight .btn:hover {
    animation: button--pulse 1s infinite alternate;
}
.sonar-darknight .btn--submit {
    background: linear-gradient(200deg, var(--colors--primary), var(--colors--primary-bright));
    border-color: var(--colors--primary-bright);
    color: var(--colors--neutral--white3);
}
.sonar-darknight .btn--submit:hover {
    background: linear-gradient(200deg, var(--colors--primary-bright), var(--colors--primary));
    border-color: var(--colors--primary-bright);
    color: var(--colors--neutral--white3);
}
.sonar-darknight .btn,
.sonar-darknight .btn--submit,
.sonar-darknight .btn--cancel {
    height: 38px;
    line-height: 35px;
    padding: 0 2rem;
    height: 38px;
    font-size: 1rem;
}
.sonar-darknight .btn--icon {
    align-items: baseline;
    padding: 0 1rem;
}
.sonar-darknight .btn--icon .bi {
    margin-bottom: 4px;
}
.sonar-darknight .btn-primary:not(:disabled):not(.disabled).active,
.sonar-darknight .btn-primary:not(:disabled):not(.disabled):active,
.sonar-darknight .show > .btn-primary.dropdown-toggle {
    color: var(--colors--neutral--white3);
    background: var(--colors--primary0);
    border-color: var(--colors--primary-bright);
}
.sonar-darknight .btn-outline-primary {
    color: var(--colors--neutral--white3);
    border-color: var(--colors--primary-bright);
}
.sonar-darknight .btn-outline-primary:hover {
    background: var(--colors--primary);
    border-color: var(--colors--primary-bright);
    color: var(--colors--neutral--white3); 
}
.sonar-darknight .btn-primary.disabled,
.sonar-darknight .btn-primary:disabled {
    color: var(--colors--neutral--white3);
    background: var(--colors--primary);
    border-color: var(--colors--primary-bright);
}
.sonar-darknight .btn.disabled,
.sonar-darknight .btn:disabled {
    cursor: not-allowed;
}

/* Button info */

.sonar-darknight .btn-info {
    background-color: var(--colors--primary6);
    border-color: var(--colors--primary6);
    color: var(--colors--neutral--white3);
}
.sonar-darknight .btn-info:hover {
    background-color: var(--colors--primary6);
    border-color: var(--colors--primary6);
}
.sonar-darknight .btn-outline-info {
    border-color: var(--colors--primary6);
    color: var(--colors--primary6);
}
.sonar-darknight .btn-outline-info:hover {
    background-color: var(--colors--primary6);
    border-color: var(--colors--primary6);
    color: var(--colors--neutral--white3);
}


/* Button Secondary */

.sonar-darknight .btn-secondary {
    color: var(--colors--neutral--white3);
    background: var(--bg--gradient1);
    border-color: var(--colors--neutral--grey3);
}
.sonar-darknight .btn-secondary:focus,
.sonar-darknight .btn-secondary:hover {
    border-color: var(--colors--neutral--grey3); 
}
.sonar-darknight .btn-secondary:not(:disabled):not(.disabled).active,
.sonar-darknight .btn-secondary:not(:disabled):not(.disabled):active,
.sonar-darknight .show > .btn-secondary.dropdown-toggle {
    color: var(--colors--neutral--white3);
    background: var(--colors--neutral--grey2);
    border-color: var(--colors--neutral--grey3);
}
.sonar-darknight .btn-outline-secondary {
    color: var(--colors--neutral--white3);
    border-color: var(--colors--neutral--grey3);
}
.sonar-darknight .btn-outline-secondary:hover {
    background: var(--bg--gradient1);
    border-color: var(--colors--neutral--grey3);
    color: var(--colors--neutral--white3); 
}
.sonar-darknight .btn-secondary.disabled,
.sonar-darknight .btn-secondary:disabled {
    color: var(--colors--neutral--white3);
    background: var(--bg--gradient1);
    border-color: var(--colors--neutral--grey3);
}


/* Button Success */

.sonar-darknight .btn-success {
    background-color: var(--colors--positive);
    border-color: var(--colors--positive);
}
.sonar-darknight .btn-success:hover {
    background-color: var(--colors--positive);
    border-color: var(--colors--positive);
}
.sonar-darknight .btn-outline-success {
    color: var(--colors--positive);
    border-color: var(--colors--positive);
}

.sonar-darknight .btn-outline-success:hover {
    background-color: var(--colors--positive);
    border-color: var(--colors--positive);
    color: var(--colors--neutral--white3);
}



/* Button Danger */

.sonar-darknight .btn-danger {
    background-color: var(--colors--danger);
    border-color: var(--colors--danger);
}
.sonar-darknight .btn-danger:hover {
    background-color: var(--colors--danger);
    border-color: var(--colors--danger);
}
.sonar-darknight .btn-outline-danger {
    color: var(--colors--danger);
    border-color: var(--colors--danger);
}
.sonar-darknight .btn-outline-danger:hover {
    background-color: var(--colors--danger);
    border-color: var(--colors--danger);
    color: var(--colors--neutral--white3);
}

/* Button Warning */

.sonar-darknight .btn-warning {
    background-color: var(--colors--warning);
    border-color: var(--colors--warning);
}
.sonar-darknight .btn-warning:hover {
    background-color: var(--colors--warning);
    border-color: var(--colors--warning);
}
.sonar-darknight .btn-outline-warning {
    color: var(--colors--warning);
    border-color: var(--colors--warning);
}
.sonar-darknight .btn-outline-warning:hover {
    background-color: var(--colors--warning);
    border-color: var(--colors--warning);
    color: var(--colors--neutral--black1);
}


/* George */

.sonar--branding {
    margin-bottom: 2vh;
}
.sonar--branding .sonar--logo {
    height: 60px;
}
.sonar--branding .sonar--logo--text {
    color: var(--colors--neutral--white1);
    font-size: 40px;
    margin: -5px 0 0 7px;
    font-weight: normal;
}


/* Toast */

.sonar-darknight.toast {}
.sonar-darknight.toast-header {
    background-color: var(--colors--neutral--white1);
    color: var(--colors--neutral--grey3);
}
.sonar-darknight.toast-header .brand-logo {
    width: 20px;
}


/* Modal */

.sonar-darknight .modal-content {
    border: 0;
}
.sonar-darknight .modal-header {
    align-items: center;
    background: var(--colors--neutral--grey1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: var(--colors--neutral--white1);
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.sonar-darknight .modal-header .close {
    color: var(--colors--neutral--white1);
    font-size: 1.75rem;
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
.sonar-darknight .modal-title {
    line-height: 1.5;
    font-size: 30px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-transform: capitalize;
}
.sonar-darknight .modal-body {
    box-shadow: 0 12px 44px rgba(0, 0, 0, 0.1);
    background: var(--colors--neutral--white3);
}
.sonar-darknight .modal-dialog {
    width: 100%;
    max-width: 968px;
}
.sonar-darknight .modal-footer {
    padding: 1.5rem;
    background: var(--colors--neutral--black1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sonar-darknight .modal-footer .btn {
    margin-right: 20px;
}

.sonar-darknight .modal-footer .btn:last-child {
    margin-right: 0;
}

.sonar-darknight .close {
    color: var(--colors--neutral--white3);
    font-weight: 300;
}
.sonar-darknight .close:hover {
    color: var(--colors--neutral--white3);
}




/* Table */

.sonar-darknight .table {
    color: var(--colors--neutral--grey4);
    border-radius: var(--bg-border-radius);
}
.sonar-darknight .table-hover tbody tr:hover {
    background-color: var(--colors--neutral--grey2);
    color: var(--colors--neutral--grey4);
}
.sonar-darknight .table td,
.sonar-darknight .table th {
    border-top: 1px solid var(--colors--neutral--grey3);
    vertical-align: middle;
}
.sonar-darknight .table th {
    color: var(--colors--neutral--white1);
}
.sonar-darknight .table thead th {
    vertical-align: middle;
    border-bottom-width: 1px;
}



/* Nav Pill */

.sonar-darknight .nav-pills .nav-link,
.sonar-darknight .nav-pills .show > .nav-link {
    color: var(--colors--neutral--grey3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 10px 30px;
    margin: 0 5px 10px 5px;
    text-align: center;
    background: rgba(44, 191, 255, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(144, 157, 173, 0.5);
    transition: background 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9), border-color 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
}
.sonar-darknight .nav-pills .nav-link.active {
    color: var(--colors--neutral--white1);
    background: var(--bg--gradient1);
    border-color: var(--colors--neutral--grey3);
}



/* Breadcrumb */

.sonar-darknight .breadcrumb {
    background-color: var(--colors--neutral--grey1);
    color: var(--colors--neutral--grey3);
}
.sonar-darknight .breadcrumb a {
    color: var(--colors--neutral--grey3);
}



/* Pagination */

.sonar-darknight .page-link {
    background-color: var(--colors--neutral--grey1);
    border-color: var(--colors--neutral--grey2);
    color: var(--colors--neutral--grey4);
    padding: .5rem 1rem;
}
.sonar-darknight .page-link:hover {
    border-color: var(--colors--neutral--grey2);
    color: var(--colors--neutral--grey1);
    background-color: var(--colors--neutral--grey3);
}



/* Progress Bar */

.sonar-darknight .progress {
    background-color: var(--colors--neutral--grey2);
}


/* Jumbotron */

.jumbotron {
    background-color: var(--colors--neutral--grey1);
    color: var(--colors--neutral--grey4);
}



/* Toast: Notification */

.sonar-darknight .toast {
    border-radius: var(--bg-border-radius);
}
.sonar-darknight .toast-header {
    background-color: var(--colors--neutral--grey1);
    color: var(--colors--neutral--grey4);
}